<ion-view title="Member details">
  <ion-content>
    <div class="list card">
            <div class="item item-avatar">
                <img src="{{member.photo}}"/>
                <h2>{{member.first_name}} {{member.last_name}}</h2>
                <p>{{member.occupation}}</p>
            </div>
            <a class="item item-icon-left" href="javascript:void(0);" ng-click="showRelations()"><i class="icon ion-person-stalker"></i>Family Membernn<p>{{relationCount}}</p></a>
            <a class="item item-icon-left" href="tel:{{member.office_number}}"><i class="icon ion-android-call"></i>Call Office<p>{{member.office_number}}</p></a>
            <a class="item item-icon-left" href="tel:{{member.mobile_number1}}"><i class="icon ion-android-call"></i>Call Cell<p>{{member.mobile_number1}}</p></a>
            <a class="item item-icon-left" href="sms:{{member.mobile_number2}}"><i class="icon ion-chatbox-working"></i>SMS<p>{{member.mobile_number1}}</p></a>
            <a class="item item-icon-left" href="sms:{{member.mobile_number2}}"><i class="icon ion-chatbox-working"></i>SMS<p>{{relationCount}}</p></a>
            <a class="item item-icon-left" href="mailto:{{member.email}}"><i class="icon ion-email"></i>Email<p>{{member.email}}</p></a>
            

    </div>
  </ion-content>
</ion-view>  







<!-- <!DOCTYPE html>
<html>
<head>
	
</head>
<body>

<ion-header class="bar bar-positive">
    <h1 class="title">Detail</h1>
</ion-header>
<ion-content>
    
    <div ng-app="myApp" ng-controller="DetailController">
     <h2>  U will not be seen</h2>
     <h1> Details</h1>

     <table>
       <tr>
         <td ><img src="{{member.photo}}" height="300" width="600" ></td> 
         <td>{{member.first_name }}</td><br>

         <td>{{member. middle_name }}</td><br>
         <td>{{member.last_name }}</td><br>
         <td>{{relationCount}}</td>
         <td>{{member.gender }}</td><br>
         <td>{{member.email }}</td><br>
         <td>{{member.occupation}}</td><br>
         <td>{{member.marital_status }}</td><br>
         <td>{{member.birth_date }}</td><br>
         <td>{{member.mobile_number1 }}</td><br>
         <td>{{member.mobile_number2 }}</td><br>
         <td>{{member.office_number }}</td><br>
         
       </tr>
     </table>

<button ng-click="newFamilyMember()">Add Family Member</button>

</div>


 
    </ion-content>
 -->

